 <!-- left-pane for visual-2 -->
<div class="left left-visuals">
	<div class="upper"><br>
		<span>Select any option to analyze {{details.name}}</span>
	</div>
	<!-- side nav bar -->
	<div class="bottom">
		<ul>
			<li class="light">
				<a href="#/visual/1">Opposition Vs Run</a>
			</li>
			<li class="dark">
				<a href="#/visual/2">Won & Lost</a>
			</li>
			<li class="light">
				<a href="#/visual/3">Comparison with players</a>
			</li>
			<li class="light">
				<a href="#/">Home</a>
			</li>


		</ul>
	</div>
	

	<div class="socialcops-logo">
		<img src="images/logo.png"></div>

</div>

<!-- right pane for visual 2 -->

<div class="right visual-right visual2">


	<h1>Won & Lost</h1>

	<!-- defining terms in pie chart -->
	<div class="axis-def">

		<h4><span class="span2"></span>&nbsp; Matches Won by India : {{data[1].Numbers}}</h4>
		<h4><span ></span>&nbsp; Matches Lost by India: {{data[0].Numbers}}</h4>
		<h4><span class="span3"></span>&nbsp; Matches Tied by India : {{data[2].Numbers}}</h4>
		<h3>Total Matches : {{data[0].Numbers+data[1].Numbers+data[2].Numbers}}</h3>
	</div>

	<!-- calling directive of chart 2 -->

	<second-chart></second-chart>

		<!-- conclusion -->
	<p>
		Out of the 463 matches that Sachin Tendulkar has played, Indian team has won 234 matches and tied 29 matches.

	</p>
</div>
