 <!-- left-pane for visual-3 -->
<div class="left left-visuals">
	<div class="upper"><br>
		<span>Select any option to analyze {{details.name}}</span>
	</div>
	<!-- side nav bar -->
	<div class="bottom">
		<ul>
			<li class="light">
				<a href="#/visual/1">Opposition Vs Run</a>
			</li>
			<li class="light">
				<a href="#/visual/2">Won & Lost</a>
			</li>
			<li class="dark">
				<a href="#/visual/3">Comparison with players</a>
			</li>
			<li class="light">
				<a href="#/">Home</a>
			</li>


		</ul>
	</div>
	

	<div class="socialcops-logo">
		<img src="images/logo.png"></div>

</div>

<!-- right pane for visual 3 -->

<div class="right visual-right visual2">


	<h1>Comparison with players</h1>
	
	

<!-- calling directive of visual3 -->
	<third-chart></third-chart>

	<!-- conclusion -->
	<p>
		So as we can see from the above data that Sachin is the best player of all the time. Also by analyzing previous graphs we get the positive statistics as Sachin Tendulkar has one of the best average score.
		<br>
		<br> As a result, we can conclude that Wikipedia says right about Sachin Tendulkar as “Sachin Tendulkar is a former Indian cricketer, widely regarded to be the greatest cricketer of all time.”

	</p>
</div>

